.audioBox {
  position: fixed;
  bottom: 20px;
  left:50%;
  width: 95%;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0,0,0, 0.3);
  transform: Translate(-50%, 0);
}
#audioPlayer {
  width: 100%;
  margin: 0;
}



/* accordion stuff... */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
